tensorflow
pandas 
notebook
numpy
matplotlib
seaborn
python-box==6.0.2
PyYAML
tqdm
ensure==1.0.2
joblib
types-PyYAML
scipy
Flask
Flask-Cors
opendatasets # Optional (if you want to download datasets from Kaggle)
-e . # Create local package by installing setup.py